@import './variables.scss';

.experience-container{
  margin: 40px 0;
  h2{
    margin-bottom: 40px;
  }
  @media (min-width: 660px){
    h2{
      width: 650px;
      text-align: left;
    }
  }
}

.tabs-container{
  @include flex-center();
  justify-content: flex-start;
  flex-direction: column;
  @media (min-width: 660px){
    height: 400px;
    flex-direction: row;
  }
}

.buttons-container{
  @include flex-center();
  justify-content: flex-start;
  height: 100%;
  margin-bottom: 40px;
  
  @media (min-width: 660px){
    flex-direction: column;
    margin-bottom: 0;
  }
  
  button{
    text-align: left;
    border: none;
    border-radius: 3px 3px 1px 1px;
    background-color: $bgblue;
    color: white;
    padding: 10px;
    margin: 2px;
    @media (min-width: 660px){
      width: 150px
    }
  }
  button.active{
    background-color: lighten($bgblue, 10%);
    border-bottom: 3px solid $teal;
    @media (min-width: 660px){
      border-bottom: none;
      border-left: 3px solid $teal;
    }
  }
}

.tab{
  p{
    margin: 10px 0;
  }
  @media (min-width: 660px){
    height: 100%;
    margin: 10px 0 10px 20px;
  }
  div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 500px;
    padding: 0 10px;
    text-align: left;
  }
}


