@import './variables.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

section{
  /* height: 70vh; */
  @include flex-center();
  flex-direction: column;
  /* color: teal; */
  /* border-top: 1px solid $teal;
  margin: 5vw; */
  /* background-color: $textblue; */
  background-color: $bgblue;
  color: $teal;
  color: white;
}

section:nth-child(even){
  /* background-color: $teal; */
  background: linear-gradient(160deg, $teal 10%, white 10%);
  color: $textblue;
  border: 10px solid white;
  /* margin: 2vw; */
}

section:nth-child(odd){
  padding: 10px;
  /* background-color: $textblue;
  color: white;
  border: 1px solid $teal; */
}

.navbar{
  height: 60px;
  @include flex-center();
  justify-content: flex-end;
}
.navbar a{
  margin: 0 10px;
}
