@import './variables.scss';

.home-container{
  @include flex-center();
  flex-direction: column;
  margin: 130px 0;

  h2{
    border-bottom: 2px solid $teal;
  }
  
  @media(min-width: 660px){
    margin: 150px 0 200px;
    flex-direction: row;
    justify-content: space-between;
  }
  .photo{
    display: none;
    border-radius: 50%;
    background-image: url('/assets/photo.png'); 
    background-size: cover;
    height: 150px; 
    width: 150px;
    @media(min-width: 660px){
      height: 250px; 
      width: 250px;
    }
  }
}