@import './variables.scss';


// ! Mobile navbar
@media(max-width: 700px){
  //* hide other nav first
  .navbar-lg{
    a, div{
      display: none;
    }
  }

  //* style mobile nav
  .brand{
    // *v1 - left-aligned
    height: 30px;
    width: 30px;
    position: absolute;
    left: 10vw;
    top: 25px;
    background-image: url('/letter-g.png');
    background-size: cover;
    background-position: center;

    // *v2 - on top of burger
    // height: 20px;
    // width: 20px;
    // position: absolute;
    // right: 47px;
    // top: 30px;
    // background-image: url('/letter-g.png');
    // background-size: cover;
    // background-position: center;
    // z-index: 3;
    // opacity: 0.9;
  }
  .navbar-sm{
    @include flex-center();
    flex-direction: column;
    justify-content: flex-start;
    background-color: $bgblue;
    color: $white;
    position: absolute;
    right: 0;
    padding: 0 0 20px;
    width: 200px;
    .burger, .nav-links a{
      padding: 15px 0;
      text-align: right;
      @include flex-center();
      flex-direction: column;
      align-items: flex-end;
    }
    .burger{
      position: relative;
      z-index: 2;
      margin-top: 10px;
      margin-right: -85px;
      background-image: url('/burger-menu.png');
      background-size: cover;
      height: 60px;
      width: 60px;
      cursor: pointer;
    }
    .nav-links{
      background-color: lighten($bgblue, 5%);
      width: 100%;
      padding-top: 70px;
      padding-bottom: 60px;
      padding-right: 40px;
      padding-bottom: 182px;
      position: absolute;
      z-index: 1;
      @media (min-width: 496px){
        padding-bottom: 143px;
      }
    }
  }
}
@media(min-width: 660px){
  .nav-links{
    padding-bottom: 359px !important;
  }
}
@media(max-width: 367px){
  .nav-links{
    padding-bottom: 234px !important;
  }
}
@media(max-width: 311px){
  .nav-links{
    padding-bottom: 273px !important;
  }
}

.animate__animated.animate__slideInRight {
  --animate-duration: 0.2s;
}


// ! Desktop navbar
@media (min-width: 700px){
  //* hide other nav first
  .navbar-sm{
    display: none;
    a{
      display: none;
    }
  }

  //* style desktop nav
  .navbar-lg{
    .container{
      flex-direction: row;
      justify-content: space-between;
      .brand{
        background-image: url('/letter-g.png');
        background-size: cover;
        background-position: center;
        height: 35px;
        width: 35px;
      }
      .link-container{
        display: flex;
        justify-content: space-between;
        width: 500px;
      }
    }
    height: 60px;
    @include flex-center();
    background-color: $bgblue;
    color: darken($white, 20%);
    a:hover{
      color: $white;
    }
  }
}