* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

section{
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: teal; */
  /* border-top: 1px solid #00C2CB;
  margin: 5vw; */
  /* background-color: #112240; */
  background-color: #233554;
  color: #00C2CB;
  color: white;
}

section:nth-child(even){
  /* background-color: #00C2CB; */
  background: linear-gradient(160deg, #00C2CB 10%, white 10%);
  color: #112240;
  border: 10px solid white;
  /* margin: 2vw; */
}

section:nth-child(odd){
  padding: 10px;
  /* background-color: #112240;
  color: white;
  border: 1px solid #00C2CB; */
}

.navbar{
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar a{
  margin: 0 10px;
}
